.numero {
  height: 22px;
  width: 22px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: rgb(110, 114, 113) !important;
  color:#fff !important;
  margin: 1rem;
}

.alineacion{
    text-align: center;
}

.colorfondocarrito{
    color: #fff ;
    
}

.titulo-cart {
    margin: 1rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2rem;
    color: rgb(110, 114, 113);
  }
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icono-carrito {
    position: relative;
    padding: 5px 10px;
  }

  .titulo-cart {
    margin: 1rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2rem;
    color: rgb(110, 114, 113);
  }
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .boton-remover {
    margin: 0 1rem;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 90px;
    height: 30px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
  }
  .boton-remover:hover {
    background-color: rgb(245, 233, 244);
    color: black;
  }
  .contenedor-boton-comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .boton-comprar {
    margin: 1rem;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 200px;
    height: 40px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
  }
  .boton-comprar:hover {
    background-color: rgb(189, 139, 189);
    color: black;
  }
  .disabled {
    pointer-events: none;
  }
  .ir-a-tienda {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    background-color: rgb(189, 139, 189);
    border: 2px solid rgb(189, 139, 189);
    border-radius: 5px;
  }
  .ir-a-tienda:hover {
    background-color: rgb(245, 233, 244);
    color: black;
  }