

/* Estilos Item */
.card-item {
  margin: 0.5rem;
  text-decoration: none;
  text-align: center;
  color: black;
}
.card-item:hover {
color: rgb(110, 114, 113);
box-shadow: 3px 3px 3px 3px rgba(110, 114, 113, 0.637) ;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Estilos Formulario Compra */
.form{
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer{
  width: 30%;
}
.formButton{
  background-color: rgb(177, 2, 2);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.3rem;
  margin-bottom: 50px;
}

h3 a{
  text-decoration: none;
  color: #6e8f6e;
}



/*No se utilizan*/

.item-product{
  margin: 5%;
}

.tamanioimagen{
  height: 20rem;
  width: auto;
}